<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("partials/head") -%>
</head>
<body>
    <%- include("partials/header") %>
    <h1 id="newh1">Edit Pokemon</h1>
    <div class="container">
       
            <div class="pokemon-form">
                <form action="/pokemon/:id?_method=PUT" method="POST"> 
                    <label for="id">ID</label>
                    <input type="text" name="id" id="id" /><br />
                    <label for="name">Name</label>
                    <input type="text" name="name" id="name" /><br />
                    <label for="img">Image</label>
                    <input type="text" name="img" id="img" /><br />
                    <label for="type">Type</label>
                    <input type="text" name="type" id="type" /><br />
                    <h3 id="newh3">STATS</h3>
                    <label for="hp">HP</label>
                    <input type="text" name="hp" id="hp"><br />
                    <label for="attack">ATTACK</label>
                    <input type="text" name="attack" id="attack"><br />
                    <label for="defense">DEFENSE</label>
                    <input type="text" name="defense" id="defense"><br />
                    <input id="add" type="submit" value="UPDATE POKEMON">
                </form>
                <p><a id="back" href="/pokemon">Back to Home</a></p>
            </div>
    </div>
</body>
</html>