<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("partials/head") %>
</head>
<body>
    <h1>Pokemon!</h1>
    <div class="container">
        <% for(let i = 0; i < pokemon.length; i++) { %>
            <div class="pokemon-card">
                <img src=<%=pokemon[i].img %> alt="pokemon">
                <h4><a href="/pokemon/<%=i %>"><%= pokemon[i].name %></a></h4>
            </div>
        <% } %>
    </div>
</body>
</html>