<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("partials/head") %>
</head>
<body>
    <h1>Pokemon!</h1>
    <div class="container">
        <% for(let i = 0; i < pokemon.length; i++) { %>
            <div class="pokemon-card">
                <a href="/pokemon/<%=i %>">
                    <img src=<%=pokemon[i].img %> alt="pokemon">
                    <h4><%= pokemon[i].name %></h4>
                </a>
            </div>
        <% } %>
    </div>
</body>
</html>