body {
    background-color: rgb(139, 124, 232);
    text-align: center;
}

.dog {
    font-family: fantasy;
}

li {
    list-style-type: none;
}

.secret {
    opacity: 0.5;
}

/*or any color of your choosing*/