body {
    background-color: rgb(199, 194, 232);
    text-align: center;
}

.dog {
    font-family: fantasy;
}

li {
    list-style-type: none;
}

ul {
    padding: 0;
}

.secret {
    opacity: 0.5;
}

table {
    margin: auto;
}

table, th, td {
    border: 2px solid grey;
}

.cabbage {
    color: chartreuse;
}

/*or any color of your choosing*/