* {
    box-sizing: border-box;
    font-family: fantasy;
}

.container {
    display: flex;
    width: 790px;
    margin: auto;
    flex-wrap: wrap;
    justify-content: center;
}

.boxes {
    width: 200px;
    height: 200px;
    border: 1px solid black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 150px;
}