<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokemon Homepage</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <h1>See All the Pokemon</h1>
    <ul>
        <% for(let i = 0; i < pokemon.length; i++ ) { %>
            <li> <%= pokemon[i].name.toUpperCase() %> </li>
       <% } %>
    </ul>
</body>
</html>