<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokemon Page</title>
    <link rel="stylesheet" href="../css/style.css" />
</head>
<body>
    <h1>Gotta Catch 'Em All</h1>
    <h2> <%= pokemon.name.toUpperCase() %> </h2>
    <img src=<%= pokemon.img + ".jpg" %> /> <br />
    <a href="/pokemon">BACK</a>
</body>
</html>