html {
    box-sizing: border-box;
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("https://www.caribbeanlawn.com/images/themegraphics/1550855930content_bar_4_background1.jpg");
    /* background-position: center; */
    background-repeat: no-repeat;
    background-color: black;
    background-size: cover
    
}

button {
    background: #000000;
    color: white;
    padding: 10px;
    font-size: 1.25em;
    box-shadow: 2px 4px rgba(255,255,255, 0.468);
}

h1, h2, h3 {
    color: white;
    font-size: 2rem;
    margin: 0;
}

header {
    background-color: rgba(128, 128, 128, 0.591);
    margin: auto;
    padding: 1.5em;
    overflow: auto;
}

main {
    margin-left: 5%;
}

.gameButtons, .toolButtons {
    margin-top: 5%;
}

.gameButtons button, .toolButtons button{
    margin-left: 2%;
    margin-bottom: 5%;
    padding: 10px;
}

.messages {
    float: right;
    margin-right: 5%;
    border: 2px solid white;
    background: rgba(57, 57, 57, 0.468);
    padding: 1em;
}


.gameTitle {
    float: left;
    width: 17%;
    background-color: black;
    border: 1px solid white;
    text-align: center;
    padding: 5px;
}

.actionTitle {
    padding: 1%;
    margin-bottom: 2%;
    max-width: 8rem;
    text-align: center;
    vertical-align: middle;
    background-color: black;
    border: 2px solid white;
}

.buyTitle {
    padding: 1%;
    margin-bottom: 2%;
    max-width: 10rem;
    text-align: center;
    background-color: black;
    border: 2px solid white;
}