<header>
    <nav>
        <ul>
            <li id="logo">
                <h1>
                <a href="/products">M0ng00se</a>
                </h1>
            </li>
            <li id="add">
                <h3>
                    <a href="/products/new">Add Product</a>
                </h3>
            </li>
        </ul>
    </nav>
</header>