@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');

* {
    box-sizing: border-box;
    font-family: "Press Start 2P";
}

body {
    margin: 0;
    background: url("../img/8621.jpeg");
    background-size: cover;
    background-position: center;
}

.container {
    width: 75%;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.pokemon-card {
    transition: box-shadow .3s;
    border-radius: 20px;
    border: 1px solid rgba(0,0,0,.2);
    background-color: white;
    max-width: 200px;
    max-height: 350px;
    margin: 5px 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.pokecard-hover {
    box-shadow: 11px 11px 11px rgba(255,255,255,.9);
}

.pokemon-card form input[type="submit"]{
    font-family: "Press Start 2P";
    font-size: 1em;
}

.pokemon-card img {
    max-width: 150px;
}

a {
    text-decoration: none;
    color: red;
}

#edit {
    font-size: .75em;
}

.pokemon-show {
    border-radius: 20px;
    border: 1px solid rgba(255,255,255,.5);
    background-color: white;
    padding: 30px;
}

.pokemon-show img {
    max-width: 275px;
}

nav {
    display: flex;
    justify-content: space-between;
    color: black;
    background: white;
    margin-bottom: 2%;
    padding: 0 10px 0 10px;
}

#add {
    padding: 10px;
    font-size: 1.5em;
    background: white;
    color: black;
    font-family: "Press Start 2P";
}

input {
    margin: 20px;
}
label {
    background: white;
    padding: 10px;
    margin: 20px;
}

#hlogo {
    color: black;
}

#newh1, #newh3{
    margin-left: 2%;
    color: white;
}

#back {
    background: black;
    padding: 20px;
}