@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');

* {
    box-sizing: border-box;
    font-family: "Press Start 2P";
}

body {
    background-color: rgb(65, 77, 169);
}

.container {
    width: 75%;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.pokemon-card {
    border-radius: 20px;
    border: 1px solid rgba(255,255,255,.5);
    background-color: white;
    max-width: 200px;
    margin: 5px 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    overflow: auto;
}

.pokemon-card img {
    max-width: 150px;
}

a {
    text-decoration: none;
    color: red;
}

.pokemon-show {
    border-radius: 20px;
    border: 1px solid rgba(255,255,255,.5);
    background-color: white;
    padding: 30px;
}