@import url('https://fonts.googleapis.com/css?family=Tomorrow&display=swap');

body {
    color: blanchedalmond;
    background-color: steelblue;
    font-family: "Tomorrow";
    text-align: center;
  }

  li {
    list-style: none;
    font-size: 1.5em;
  }

  a {
      color: rgb(216, 149, 78);
      text-decoration: none;
  }

  img {
      border-radius: 20px;
      box-shadow: 5px 5px 5px rgba(255,255,255,.5);
      max-width: 500px;
  }