@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&display=swap');

* {
    box-sizing: border-box;
}

html {
    font-family: 'Open Sans Condensed', 'Arial', sans-serif;
}

body {
    background-image: linear-gradient(black, grey, white);
    background-repeat: no-repeat;
    font-size:1.75em;
    position: relative;
    margin: 0 0 4em 0;
}

.container {
    width: 57%;
    margin: auto;
}

.projectsContainer{
    width: 95%;
    margin: auto;
    text-align: center;
}

nav {
    background-color: rgba(0, 0, 0, .9);
    padding-bottom: 5px;
}

 nav > ul > li {
     list-style: none;
     display: inline;
     padding: 2em;
     font-size: 1.25em;
     text-transform: uppercase;
 }

a {
     text-decoration: none;
     color rgb(130, 50, 130);:
 }

 h1 {
     color: grey;
     text-transform: uppercase;
 }

 img {
     border-radius: 40px;
     max-width: 800px;
     border: 1px solid black;
 }
 .center {
     text-align: center;
 }

 .skills h3 {
    color: purple;
 }

 .projects {
    border-radius: 20px;
    padding: 1em;
    border: 2px solid navy;
    display: inline-block;
    margin: 1em 1em 0 0;
    max-width: 400px;
    vertical-align: top;
    min-height: 300px;
 }

 p {
    width: 75%;
    margin: auto;
 }

 button.email {
     position: fixed;
     bottom: 0;
     right: 0;
     padding: 1em;
     margin: 1em;
     font-size: .7em;
     border: 2px solid black;
     border-radius: 10px;
     background-color:  rgb(130, 50, 130);
     color: white;
 }

 nav {
     position: fixed;
     top: 0;
     width: 100%;
 }

 .name {
     margin-top: 7em;
 }

 button > a {
     color: white;
 }

